body {
  background-color: #e5e5e5;
}

strong {
  font-weight: normal;
  color: black;
  font-weight: bolder;
}

.header-prefixos {
  height: 8vh;
  width: 100%;
  background-color: black;
}

.header-prefixos .container-menu-prefixos {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
  margin: auto;
}

.header-prefixos nav {
  display: flex;
}

.header-prefixos nav ul {
  left: 52.7%;
  display: flex;
  position: absolute;
  top: 2.5%;
}

.header-prefixos nav ul li {
  list-style: none;
}

.header-prefixos nav ul li a {
  right: 195px !important;
  font-weight: bolder;
  text-decoration: none;
  color: rgb(241, 239, 239);
  text-transform: uppercase;
  transition: all 100ms linear 0s;
  font-size: 13px;
  padding: 2.0rem;
}

.header-prefixos nav ul li a:hover {
  font-size: 1.1rem;
}

.header-prefixos nav ul li a {
  position: relative;
  animation-name: menu;
}

.header-prefixos nav ul li a .FiLogOut {
  position: relative;
  top: 2px;
  left: 2px;
}

@keyframes menu {
  0% { left: 0px; top: -100px; }
  100% { left: 0px; top: 0px; }
}

/* Media Query para telas pequenas (mobile) */
@media (max-width: 630px) {
  html {
    font-size: 70%;
  }

  
    .header-prefixos nav ul {
      display: none; /* Esconder menu grande no mobile */
    }


  .hero .container-menu-prefixos {
    flex-direction: column;
    text-align: center;
  }

  .form-group {
    display: block;
  }

  .header-prefixos nav ul {
    display: none !important; /* Esconder menu grande no mobile */
  }

  .menu-section.on nav ul {
    display: block !important; /* Mostrar menu no mobile */
  }
}

@media (max-width: 1120px) {
  /* Esconder menu padrão */
  .menu-section nav {
    display: none;
  }

  .one,
  .two,
  .three {
    background-color: #ffffff;
    height: 5px;
    width: 50%;
    margin: 6px auto;
    transition-duration: 0.3s;
  }

  .menu-toggle {
    display: block !important; /* Exibir o ícone burger */
  }

  .header-prefixos nav ul {
    display: none !important; /* Esconder menu principal */
  }

  /* Menu burger ativo */
  .menu-section.on {
    position: absolute !important;
    top: 0 !important;
    right: 20% !important;
    width: 100vw;
    height: 27vh !important;
    background: black !important;
    z-index: 10;
  }

  .menu-section.on nav {
    display: block;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    right: 20px !important;
    top: 25px;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
    background-color: #fff;
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
    background-color: #fff;
  }

  .menu-section.on nav ul {
    text-align: center;
    display: block;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: black;
    width: 100%;
    height: auto;
    z-index: 1000;
  }

  .menu-section.on nav ul li {
    display: block;
    margin: 10px 0;
  }

  .menu-section.on nav ul a {
    font-size: 2rem;
    padding: 10px;
    color: white;
  }

  .menu-section.on nav ul .hide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem;
    font-size: 1.6rem;
  }

  .header nav ul li a .FiLogOut {
    width: 40px;
  }
}

@media (max-width: 320px) {
  #form h3 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1366px) {
  .header-prefixos {
    height: 10vh;
    width: 100%;
    background-color: black;
  }

  .header-prefixos .container-menu {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    margin: auto;
  }

  .header-prefixos nav {
    display: flex;
  }

  .header-prefixos nav ul {
    left: 48%;
    display: flex;
    position: absolute;
    top: 2.5%;
  }

  .header-prefixos nav ul li {
    list-style: none;
  }

  .header-prefixos nav ul li a {
    right: 65px;
    font-weight: bolder;
    text-decoration: none;
    color: rgb(241, 239, 239);
    text-transform: uppercase;
    transition: all 100ms linear 0s;
    font-size: 13px;
    padding: 2.0rem;
  }

  .header-prefixos nav ul li a:hover {
    font-size: 1.1rem;
  }

  .header-prefixos nav ul li a {
    position: relative;
    animation-name: menu;
  }

  .header-prefixos nav ul li a .FiLogOut {
    position: relative;
    top: 2px;
    left: 2px;
  }

  .descricao-titulo {
    top: 13% !important;
  }

  .h1-principal2 {
    margin-top: 12px;
    left: 40% !important;
    font-size: 24px !important;
  }

  .input-prefixoo {
    border: 1px solid rgba(0, 0, 0, 0.123) !important;
    height: 7.7% !important;
    left: 35% !important;
    top: 36% !important;
    width: 15% !important;
  }

  .button-adicionar-prefixoo {
    height: 8% !important;
    width: 10% !important;
    background-color: #e4c411;
    position: absolute;
    top: 36% !important;
    left: 50% !important;
    transition: all 0.2s ease;
  }

  .vertical-listt {
    left: 25% !important;
    top: 50% !important;
    width: 60% !important;
  }
}

@media screen and (max-width: 480px) {
  .header-prefixos {
    height: 8vh !important;
    width: 100%;
    background-color: black;
  }

  .header-prefixos .container-menu-prefixos {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    width: 100%;
    margin: auto;
  }

  .header-prefixos nav {
    display: flex;
  }

  .header-prefixos nav ul {
    left: 48% !important;
    display: flex;
    position: absolute;
    top: 2.5%;
  }

  .h1-principal {
    top: 1.7% !important;
    margin-left: 45px;
    font-size: 20px !important;
  }

  .descricao-titulo {
    top: 13% !important;
    left: 7% !important;
    width: 85% !important;
    text-align: justify !important;
    font-size: 13px !important;
  }

  .h1-principal2 {
    margin-top: 0px;
    left: 22% !important;
    font-size: 24px !important;
  }

  .input-prefixoo {
    border: 1px solid rgba(0, 0, 0, 0.123) !important;
    height: 7.7% !important;
    left: 12% !important;
    top: 33% !important;
    width: 43% !important;
  }

  .button-adicionar-prefixoo {
    height: 8% !important;
    left: 57.1% !important;
    top: 33% !important;
    width: 28% !important;
  }

  

 
  .vertical-listt {
    margin-right: 200px !important;
    top: 47% !important;
    width: 50%;
    
  }


  
.lii {
  padding: 0px !important;
  width: 20% ; 
    margin-bottom: 10px; 
    box-sizing: border-box;

  
}


  
  .prefixo-textoo {
    margin-top: 8px !important;
    margin-left: 10px !important;
  }
  
 
  .excluir-prefixoo {
    margin-left: 10px;
  }
}








.h1-principal{
  color: white;
 
  padding: 10px;
 
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
      font-weight: bolder ;
    top: 0.7%;
    position: absolute;
    left: 0%;
}

.descricao-titulo{
    
    font-size: 17.5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify, center;
    width: 95%;
    position: absolute;
    top: 9%;
    left: 3% ;
}

.h1-principal2{
    font-size: 2.4em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-weight: bolder ;
    top: 28.5%;
    position: absolute;
    left: 40.7%;
}

.input-prefixoo{
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Times, serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.080) 5px 1px 8px;
    outline: none; 
 
  transition: none; 
  border: none;
    border-radius: 15px 0px 0px 15px;
    height: 4.4%;
    width: 11%;
    padding-left: 10px;
    position: absolute;
    top: 35%;
    left: 41%;
}
.button-adicionar-prefixoo {
    cursor: pointer;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Times, serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.08) 5px 1px 8px;
    border-radius: 0px 15px 15px 0px;
    border: none;
    height: 4.4%;
    width: 5%;
    background-color: #e4c411;
    position: absolute;
    top: 35%;
    left: 52.5%;
    transition: all 0.2s ease;
}

.button-adicionar-prefixoo:active {
    transform: scale(0.95); 
    box-shadow: rgba(0, 0, 0, 0.2) 4px 1px 6px;
    background-color: #d4b30e; 
}




.lista-containerr{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
      font-weight: bolder ;
    display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh; 
    
}

.vertical-listt {
    position: absolute;
    top: 450px;
    width: 50%;
    padding: 0;
  }
  
 
  

.lii{
    
 

margin: 8px;
    box-shadow: rgba(0, 0, 0, 0.075) 5px 1px 8px;
    border: 1px solid #c2c1c17e;
    width: auto;
    border-radius: 20px;
    background-color: white;
   
    display: inline-flex;

}

.prefixo-textoo{
    margin-top: 5px;
    margin-left: 10px;
}


.excluir-prefixoo {
margin-left: 10px;
    


    background: transparent; 
    border: none; 
    padding: 0; 
    cursor: pointer; 
  }
  
  .excluir-prefixoo:focus {
    outline: none; 
  }
  