@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --AuthFont: "Open Sans", system-ui;
}

.random-div {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  border-radius: 10px;
}

.p-header-center {
  color: white;
  font-size: 18px;
  text-align: center;
}

* {
  font-family: 'Montserrat', sans-serif !important;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box !important;
  overflow-x: hidden !important;
}

.checkbox-detalhes {
  z-index: 1;
  margin-left: 90px;
  width: 70%;
  padding: 20px;
  position: absolute;
  top: 13%;
  left: 34.8%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.checkbox-detalhes label {
  width: 70%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.horario-texto {
  width: 70%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
}

.checkbox-detalhe {
  opacity: 1 !important;
  z-index: 1;
  cursor: pointer;
  accent-color: #4CAF50;
  width: 16px;
  height: 16px;
}

.texto-checkbox {
  font-size: 13px;
  margin-bottom: 10px;
  color: #2e2e2e;
  font-weight: bold;
}

.div-mensagem-sem-pedido3 {
  margin-top: -150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  width: 100%;
  text-align: center;
}

.mensagem-sem-pedidos3 {
  font-size: 18px;
  font-weight: bold;
}

a {
  color: white;
  text-decoration: none;
}

.header-menu {
  width: 100%;
  font: 1rem;
  text-transform: uppercase;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.menu {
  display: flex;
}

.menu>li {
  margin-left: 10px;
}

.menu>li>a {
  display: block;
  padding: 10px;
}

.menu>li:hover {}

* {
  padding: 0;
  margin: 0;
}

.ul-pedidos-celular {}

ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.imagem-menu-logo {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  align-items: end;
  background-color: aliceblue;
  padding: 20px;
}

.div-containers-lista {
  box-shadow: rgba(0, 0, 0, 0.507) 0px 2px 30px 2px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 23%;
  min-width: 320px;
  min-height: 86vh;
  display: grid;
  place-items: center;
  height: 86vh;
  right: 6%;
  position: absolute;
  top: 9%;
  padding: 100px;
  background-color: #0E0D11 !important;
}

.container-lista {
  background-image: url('../assets/imgs/container.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 65%;
  height: 50%;
  position: absolute;
  top: 2%;
}

.container-lista1 {
  width: 90%;
  height: 45%;
  background-image: url('../assets/imgs/status1.png');
  background-size: 100%;
  margin-left: 30px;
  background-position: center;
  background-repeat: no-repeat;
  top: 50%;
  position: absolute;
}

.ul-pedidos-celular {}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media (min-width:811px) and (max-width: 990px) {

  .contagem-pedidos,
  .ul-pedidos,
  .li-pedidos {
    display: none;
  }

  .div-containers-lista {
    display: none;
  }

  .pedidos-lista-celular {
    display: none;
  }
}

@media (min-width:390px) and (max-width: 480px) {
  .div-mensagem-sem-pedido {
    overflow: hidden !important;
    position: absolute;
    top: 20% !important;
    left: 50% !important;
    transform: translate(-50%, -20%) !important;
    margin: 0px !important;
  }
}

.oie {
  position: absolute;
  left: -1%;
}

.container-contador

/*,
.pedido-container */
  {
  margin: 20px auto;
  width: 55%;
  min-width: 300px;
  margin-right: auto;
  margin-left: 250px;
}

.pedido-container ul {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.pedido-container li {
  list-style: none;
  width: 100%;
}

.conteudo-wrapper {
  padding: 0px;
}

.conteudo-wrapper2 {
  padding: 0px;
}

.senhTexto {
  margin-right: 3px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  top: -4px;
}

.conteudo-detalhes {
  z-index: 1000;
  height: 17.1vh;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  border-radius: 8px;
  background: #f9f9f9ef;
  box-shadow: rgba(0, 0, 0, 0.103) 7px 5px 5px 0px;
  flex-grow: 1;
}

.checkbox-container {
  margin-top: 10px;
  padding: 1px;
  margin-right: 10px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkbox-container label {
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox-container h1 {
  font-size: 12px;
  margin: 0;
  z-index: 10;
}

.senha-all {
  top: -108px;
  left: 1840% !important;
  position: relative;
}

.senha {
  font-size: 1.5em;
  font-weight: bold;
  position: relative;
  top: -10px;
}

.senhaTexto {
  font-size: 0.9em;
}

.status-container {
  top: -0px;
  left: -1px;
  width: 55px;
  height: 100% !important;
}

.indicador-status {
  text-align: center;
}

.indicador-status {
  flex-shrink: 0;
  border-radius: 5px 0px 0px 5px;
  background-color: grey;
  width: 60px;
  height: 100%;
  top: 0;
  left: 0;
}

.indicador-status.andamento {
  background: linear-gradient(0deg, #ffbc04, #ffd96f);
}

.indicador-status.pronto {
  background: linear-gradient(0deg, #088b36, #09c54b);
}

.indicador-status.entregue {
  background: linear-gradient(0deg, #b40f35, #F6194E);
}