body {
  margin: 0;
  padding: 0;
 
}

.container-login {
  position: relative;
  z-index: 5;
  background: rgba(43, 43, 43, 0.979); 
  border-radius: 5px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); 
  max-width: 400px;
  padding: 2rem;
  margin: 30vh auto;
  text-align: center;
  backdrop-filter: blur(-20px);
  border: 1px solid rgba(255, 255, 255, 0); 
}

.title-principal-login {
  color: #ffffff;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.inputContainer {
  margin-bottom: 1.5rem;
}

.input {
  background-color: #e6e6e6fa;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #e6e6e6fa;
  border-radius:  6px;
  outline: none;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #2d0096;
  box-shadow: 0px 0px 5px rgba(223, 167, 151, 0.5); 
}

.error {
  color: red;
  margin-top: 10px;
}



.header-login-azul {
  background-color: white;
  color: white;
  border: none;
  width: 100%;
  height: 100vh;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}


.login {
  background: linear-gradient(90deg, #2d0096, #7b1fa2);
  color: #fff; 
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease; 
  margin-top: 1rem; 
}

.login:hover {
  background: linear-gradient(90deg, #7b1fa2, #2d0096); 
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
}

.login:active {
  transform: translateY(1px);
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2); 
}

.button{
  border-radius: 5px;
  color: white;
  border: none;
  width: 30%;
  padding: 10px;
  background-color: rgb(83, 99, 247);
}

.togglePassword{
  display: none;
} 
