/* RegisterStyles.css */
.register-background {
  width: 100%;
  height: 100vh;
 
  z-index: 0;
 
  display: flex;
  justify-content: center;
  align-items: center;
}


.header-login-azul{
  z-index: -10;
  
}

.header-login-azul::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #2c2c2c;
  z-index: 1;
  clip-path: path('M0,0 C150,600 400,400 850,550 Q450,100 800,500 T2000,200 L1800,0 Z');
}

.register-container {
  position: relative;
  z-index: 5;
  background: rgba(43, 43, 43, 0.979); /* Fundo branco translúcido */
  border-radius: 5px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); /* Sombras mais suaves */
  max-width: 400px;
  padding: 2rem;
  margin: 30vh auto;
  text-align: center;
  backdrop-filter: blur(-20px); /* Efeito de desfoque */
  border: 1px solid rgba(255, 255, 255, 0); /* Borda sutil */
}

.register-title {
  color: #ffffff;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.register-input-container {
  margin-bottom: 1.5rem;
}

.register-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #e6e6e6fa;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s;
  background-color: #e6e6e6fa;
}

.register-input:focus {
  border-color: #2d0096;
  box-shadow: 0px 0px 5px rgba(223, 167, 151, 0.5);
}

.register-button {
  border-radius: 5px;
  color: white;
  border: none;
  width: 90%;
  padding: 10px;
  background-color: rgb(83, 99, 247);
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.register-button:hover {
  background-color: rgb(63, 79, 227);
}

.register-error {
  color: red;
  margin-top: 10px;
}


@media screen and (max-width: 480px) {
  .header-login-azul::before {
    height: 100vh !important;
    clip-path: path('M0,0 C-200,200 -400,40 50,550 Q450,100 800,500 T2000,200 L1800,0 Z') !important;
  }
  
}